'menu': [
  {
    'label': 'Packages'
    'submenu': [
      {
        'label': 'Gulp Runner'
        'submenu': [
            {'label': 'Choose Task', 'command': 'gulp-runner:run'}
            {'label': 'Stop Task', 'command': 'gulp-runner:stop'}
            {'label': 'Toggle Log', 'command': 'gulp-runner:toggle-log'}
            {'label': 'Toggle Panel', 'command': 'gulp-runner:toggle-panel'}
        ]
      }
    ]
  }
]
